<div>
  <h2>Log in</h2>

  <form action="/auth/login" method="post">
    <label for="email">Email</label>
    <input type="email" name="email">
      <br>
    <label for="password">Password</label>
    <input type="password" name="password">
    <button>Log in</button>
  </form>
</div>